* {
  scroll-behavior: smooth;
}

#how-it-works {
  background-color: #f7fafc;
  /* Light gray background */
}

#how-it-works h2 {
  color: #c53030;
  /* Dark red for headings */
}

#how-it-works p {
  color: #4a5568;
  /* Dark gray for text */
}

/* #drink-showcase {
  background-color: #fff;
  
}

#drink-showcase h2 {
  color: #c53030;
  
}

#drink-showcase p {
  color: #4a5568;
  
} */

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}